body{
    background-color: #116D6E;
    color: #FF8080;
    font-family: 'Roboto', sans-serif;
}
.mystyle{
    width: 40%;
    margin: auto;
    margin-top: 20%;
}
.block{
    border: 2px solid black;
    border-radius: 10px;
}
.align{
  background-color: #116D6E;
  color: #FF8080;
  height: 80px;
  text-align: right;
}
p{
  font-weight: bold;
  width: 50%;
}
